
 <section id="features" class="features">
       <div class="feature-container">
         <img src="../../../assets/images/groww-feature-1.jpg" alt="Flexbox Feature">
         <h2>Create Your Strategy</h2>
         <p>Write some shit here</p>
       </div>
       <div class="feature-container">
         <img src="../../../assets/images/groww-feature-2.jpg" alt="Flexbox Feature">
         <h2>Filter Your Result Using</h2>
         <p>some shit here too </p>
       </div>
       <div class="feature-container">
         <img src="../../../assets/images/groww-feature-3.jpg" alt="Flexbox Feature">
         <h2>Some shit here</h2>
         <p>stockmocks wale ka 2 hi feature tha...teesra tu kuch b bna diyo</p>
       </div>
     </section>
