
.features {
  width: 100%;
  height: auto;
  /* background-color: #66c3ac; */
  background-color: #102337;
  display: flex;
  padding: 50px 20px;
  justify-content: space-around;
}

.feature-container {
  flex-basis: 30%;
  margin-top: 10px;
  box-shadow: 5px 5px 1px #66c3ac
}

.feature-container p {
  color: #DDDDDD;
  text-align: center;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 15px;
}

.feature-container img {
  width: 100%;
  margin-bottom: 15px;
}

h2{
  color: #66c3ac;
  font-size: 30px;
}