<div class="nav">
  <input type="checkbox" id="nav-check">
  <div class="nav-header">
    <div class="nav-title">
     STOCKSOLOGY
    </div>
  </div>
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>
  
  <div class="nav-links">
    <a href="#home" >HOME</a>
    <a routerLink="/backtesting">BACKTESTING</a>
    <a href="#features" >FEATURES</a>
    <a href="#about" >ABOUT US</a>
    <a href="#contact" >CONTACT</a>
    <a routerLink="/sign-in" >Sign In</a>
    <a routerLink="/register-user" >Sign Up</a>
    <a   (click)="authService.SignOut()">Logout</a>
  </div>
  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="inner-adjust">
      <div class="pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">User Profile</h1>
      </div>
      <!-- Show user data when logged in -->
      <div class="row" *ngIf="authService.userData as user">
        <div class="col-md-12">
          <div class="media">
            <img class="align-self-start mr-5 img-thumbnail rounded-circle" src="{{(user.photoURL) ? user.photoURL : '/assets/dummy-user.png'}}"
              alt="{{user.displayName}}">
            <div class="media-body">
              <h1>Hello: <strong>{{(user.displayName) ? user.displayName : 'User'}}</strong></h1>
              <p>User ID: <strong>{{user.uid}}</strong></p>
              <p>Email: <strong>{{user.email}}</strong></p>
              <p>Email Verified: <strong>{{user.emailVerified}}</strong></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
<!-- 
<div  class="nav-wrapper">
  <div class="grad-bar"></div>
  <nav class="navbar">
    <p>STOCKSOLOGY(logo here)</p>
    <div class="menu-toggle" id="mobile-menu">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
    <ul class="nav no-search">
      <li class="nav-item"><a href="#home">Home</a></li>
      <li class="nav-item"><a href="#features">Features</a></li>
      <li class="nav-item"><a href="#">Backtesting</a></li>
      <li class="nav-item"><a href="#about">About</a></li>
      <li class="nav-item"><a href="#contact">Contact Us</a></li>

      
     
    </ul>
  </nav>
  </div> -->